.favorite-introduction {
  text-align: center;
  margin: 60px auto;
  font-size: 28px;
  font-weight: bold;
  text-shadow: #a39d9d 13px -4px 17px;
  color: #35acdb;
}
.tag-container {
  margin: 30px auto;
  min-height: 200px;
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
}
/* .tag-container-show {
  margin: 30px auto;
  min-height: 200px;
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
  opacity: 1;
} */
.tag-list {
  height: 30px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  opacity: 0;
  transition: all 2s
}
.tag-one{
  opacity: 1;
  transition: all 1s
}
.tag-two{
  opacity: 1;
  transition: all 2s
}

.tag-three{
  opacity: 1;
  transition: all 3s
}

.tag-four{
  opacity: 1;
  transition: all 4s
}

.tag-five{
  opacity: 1;
  transition: all 5s
}

.tag-six{
  opacity: 1;
  transition: all 6s
}

.tag-seven{
  opacity: 1;
  transition: all 7s
}

