.main-container {
  width: 68%;
  min-height: 400px;
  margin: 80px 0 0 10px;
  box-shadow: 1px 1px 6px 1px;
  border-radius: 10px;
}

.ant-popover-placement-right > .ant-popover-content > .ant-popover-arrow {
  top: 13%;
  transform: translateY(-50%) rotate(45deg);
}
.ant-popover-inner {
  background-color: #ffffff00;
  background-clip: padding-box;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.15) \9;
}
.article-name {
  color: #43a5d3;
  font-size: 36px;
  margin: 0px 0px 10px 18px;
}
.article-name:hover {
  color: #177aff;
}
.article-editing-time {
  display: flex;
  margin-left: 20px;
  align-items: center;
}
.icon-container {
  font-size: 24px;
}
.time-container {
  margin: 0px 20px;
}
.share-by-weixin {
  transform: translateX(330px);
  transition: all 3s;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.share-by-weixin-after {
  transform: translateX(90px);
  transition: all 3s;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.share-by-weixin-after:hover {
  border: 1px solid;
  border-radius: 35px;
  transition: all 2s;
}
.share-by-qq {
  transform: translateX(250px);
  transition: all 2s;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.share-by-qq-after {
  transform: translateX(60px);
  transition: all 2s;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.share-by-qq-after:hover {
  border: 1px solid;
  border-radius: 35px;
  transition: all 2s;
}
.share-by-weibo {
  transform: translateX(150px);
  transition: all 1s;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.share-by-weibo-after {
  transform: translateX(30px);
  transition: all 1s;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.share-by-weibo-after:hover {
  border: 1px solid;
  border-radius: 35px;
  transition: all 2s;
}
