.aboutMe-container {
  width: 1000px;
  margin: 80px auto;
  background: white;
  position: relative;
  opacity: 0.8;
  border-radius: 10px;
  z-index: 1;
}
.aboutMe-flex {
  display: flex;
  box-shadow: 2px 3px 6px 6px #c2bfbf;
  border-radius: 20px;
}
.aboutMe-left {
  background: #cfcfcf;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.aboutMe-header-bg{
  border: 1px solid;
  width: 120px;
  border-top-left-radius: 20px;
  background: white
}
.aboutMe-header {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  border: 1px solid;
  margin: 10px;
}
.nav-menu {
  display: flex;
  flex-direction: column;
  background: #cfcfcf;
  opacity: 0.9;
  min-height: 400px;
}
